.container {
    display: block;
    cursor: pointer;
    font-size: 18px;
    border-left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
/*.container {*/
/*    display: block;*/
/*    cursor: pointer;*/
/*    font-size: 18px;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*}*/

/* Hide the browser's default radio button */
.container input {
    display: none;
    opacity: 100%;
    cursor: none;
    /*height: 0;*/
    /*width: 0;*/
}
/* Create a custom radio button */
.checkmark {
    display: block;
    height: 40px;
    width: 40px;
    padding: 2px;
    border-radius: 10%;
    margin-left: 20px;

    background-color: greenyellow;
    text-align: right;
    vertical-align: bottom;
    color: white;
}
/*.checkmark {*/
/*    display: block;*/
/*    height: 40px;*/
/*    width: 40px;*/
/*    padding: 2px;*/
/*    border-radius: 10%;*/
/*    background-color: greenyellow;*/
/*    text-align: right;*/
/*    vertical-align: bottom;*/
/*    color: white;*/
/*}*/

.legend{
    display: block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 10%;
    text-align: right;

}

#free_seat_legend{
    background-color: greenyellow;
}
#my_seat_legend{
    background-color: yellow;
    color: darkgray;
}
#reserved_seat_legend{
    background-color: orange;
}

#busy_seat_legend {
    background-color: red;
}
.t_legend{
    text-align: left;
    alignment: left;
    cursor: default;
    pointer-events: none;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    border: 2px solid dodgerblue;
    padding: 0px;
}


/*!* When the radio button is checked, add a blue background *!*/
/*.container input:checked ~ .checkmark {*/
/*    background-color: #e4dd51;*/
/*    color: darkgray;*/
/*}*/

/*#cn2A input:checked  ~ #cm2A{*/
/*    background-color: fuchsia;*/

/*}*/


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}



/* Style the indicator (dot/circle) */
/*.container .checkmark:after {*/
/*    top: 9px;*/
/*    left: 9px;*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    border-radius: 50%;*/
/*    background: white;*/
/*}*/

/*#fusoliera{*/
/*    !*border-left: 1px solid black;*!*/
/*    background: #fefefe;*/
/*    border-right: 5px solid darkgray;*/
/*    border-left:  5px solid darkgray;*/
/*    padding-bottom: 40px;*/
/*    padding-left: 15px;*/
/*    padding-right:15px;*/
/*    margin: 30px;*/
/*}*/



#fusoliera{
    /*border-left: 1px solid black;*/
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    padding: 15px 20px;
    /*margin: 30px;*/
}


.corridoio{
    /*todo: togliere il block*/
    display: block;
    padding: 1.5px;
}

#top_of_section{
    display: block;
}

#scroll_f{
    text-align: center;
    background: #fefefe;
    border-top: 5px solid darkgray;
    border-bottom:  5px solid darkgray;
    overflow-x: auto;
}


header{

    height: 350px;
    /*background: yellow url("https://wetu.com/Resources/46257/Antarctica_2.jpg") no-repeat center;*/
    /*background: yellow url("https://www.bauerkg.de/images/pictures/w7e0505112a3b002a0814ce3b4387ddf/Fotolia_19279258_XXL.jpg") no-repeat center;*/
    /*background: yellow url("https://images.unsplash.com/photo-1509803874385-db7c23652552?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center;*/
    background:black url("sfondo_sid_airlines.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    vert-align: middle;
    display: grid;
    place-items: center;
    /*position: fixed;*/
    /*background: dodgerblue;*/
    /*height: 100px;*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*z-index:300;*/
}

h1 {
    filter: none;
    font-size: 4.5vw;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.8em;
    color: transparent;
    -webkit-text-stroke: 3px #ffffff;
}

h1:hover{
    font-size: 4.8vw;
    -webkit-text-stroke: 4px #ffffff;

}

aside{
    float: left;
    width: 20%;
    padding-top: 5%;
    height: 100%;
    background-color: #067BC2;
}

section{
    margin-right: 2%;
    margin-left: 2%;

    float: right;
    width: 76%;
    alignment: center;
    margin-top: 20px;

    /*position: absolute;*/
    /*margin-top: 110px;*/
    /*margin-left: 200px;*/
    /*z-index:100;*/
    /*width: 100%;*/
    /*alignment: center;*/
}


html, body{
    height: 100%;
}

body{
    background: #262626;
    color: #FDFFFC;
    padding: 0;
    margin: 0;
    font-family: Gotham, Arial, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.loginInput{
    display: block;
    margin: 5px;
}

#login{
    text-align: center;
    width: 100%;
}

#loginBtn{
    position: center;
    margin-right: 2%;
}

#logoutBtn{
    position: center;
    background: orangered;
    margin-right: 2%;
}

.menuBtn{
    display: block;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#user{
    background-color: gold;
    padding-top: 10px;
    color: white;
    padding-bottom: 10px;
    border: none;
    cursor: default;
}

button, input[type=submit] {
    background-color: #64dd17;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#registerBtn, #registrazioneBtn{
    width: 100%;
    margin-top: 0px;
    background: #F2545B;
}

#submitBtn {
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=checkbox]{
    cursor: default;
    pointer-events: none;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #067BC2;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    /*border: 1px solid #888;*/
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* The alert message box */
.alert {
    display: none;
    padding: 20px;
    background-color: #F2545B; /* Red */
    color: white;
}

#alert_mex{
    display: block;
    background-color: red; /* Red */
    margin-bottom: 5px;

}

#alert_login{
    display: none;
    margin-top: 10px;
    margin-bottom: 5px;

}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}